

<div class = "col-sm-8 col-sm-offset-2">
<div class="css-slideshow" id = "About">
	<figure>
		<img src="https://s3-us-west-2.amazonaws.com/benjaminpictures/about1.jpg" align = "middle" width = "450" height = "450" alt="about1" class="size-full" />
	</figure>
	<figure>	
		<img src="https://s3-us-west-2.amazonaws.com/benjaminpictures/about2.jpg" align = "middle" width = "450" height = "450" alt="about2" class="size-full" />	
	</figure>
	<figure>
		<img src="https://s3-us-west-2.amazonaws.com/benjaminpictures/about3.jpg" align = "middle" width = "450" height = "450" alt="about3" class="size-full" />
	</figure>
	<figure>
		<img src="https://s3-us-west-2.amazonaws.com/benjaminpictures/about4.jpg" align = "middle" width = "450" height = "450" alt="about4" class="size-full" />
	</figure>
	<figure>
		<img src="https://s3-us-west-2.amazonaws.com/benjaminpictures/about5.jpg" align = "middle" width = "450" height = "450" alt="about5" class="size-full" />
  </figure>
  	<figure>
		<img src="https://s3-us-west-2.amazonaws.com/benjaminpictures/about6.jpg" align = "middle" width = "450" height = "450" alt="about6" class="size-full" />
  </figure>
  	<figure>
		<img src="https://s3-us-west-2.amazonaws.com/benjaminpictures/about7.jpg" align = "middle" width = "450" height = "450" alt="about7" class="size-full" />
  </figure>
  <figure>
		<img src="https://s3-us-west-2.amazonaws.com/benjaminpictures/about9.jpg" align = "middle" width = "450" height = "450" alt="about9" class="size-full" />
  </figure>



</div>
</div>
<div class ="col-sm-12">
		<div class="clip-text clip-text_three">ABOUT ME</div>
	</div>

<div class = "col-sm-10 col-sm-offset-1">
<div class = "featurette-project">
		<img src="https://s3-us-west-2.amazonaws.com/benjaminpictures/about8.jpg" align = "middle" alt="about8" class="benpicture" />
	
		<p> Hello! My name is Benjamin Yee and I am a Cal Poly Electrical Engineer. Welcome to my personal Webpage! <br> I am a firm believer of the Cal Poly motto of "learn by doing". I believe I embody the motto through the projects and experience I gain in both school and side projects.<br> Here are some of my past projects and accolades I have accomplished through the years! <br><br><br> If you need to contact me, use any of the links below.</p>


                <h4 class="abouth4"><a class="aboutmelink noA" id="linkedin" href="https://www.linkedin.com/pub/benjamin-yee/a8/472/3a"><i class="fa fa-linkedin"></i></a></h4>
                <h4 class="abouth4"><a class="aboutmelink noA" id="github" href="https://github.com/crazymach"><i class="fa fa-github"></i></a></h4>
                <h4 class="abouth4"><a class="aboutmelink noA" id="facebook" href="https://www.facebook.com/benjamin.yee.14"><i class="fa fa-facebook"></i></a></h4>
                <h4 class="abouth4"><a class="aboutmelink noA" id="email" href="mailto:benhyee@gmail.com"><i class="fa fa-envelope"></i></a></h4>


</div>
</div>
		

