  <div class =" col-sm-12">
    <div class="clip-text clip-text_one" id = "Awards">Awards</div>
  </div>


<div class="row">
  <div class="col-sm-3 col-sm-offset-3">
 
    <!-- normal -->
    <div class="ih-item circle effect17"><a href="http://www.scouting.org/About/FactSheets/EagleScouts.aspx">
        <div class="img"><img src="https://s3-us-west-2.amazonaws.com/benjaminpictures/EagleScout.jpg" alt="Eagle"></div>
        <div class="info">
          <h3>Eagle Scout Award</h3>
        </div></a></div>
    <!-- end normal -->
 
  </div>


  <div class = "col-sm-6 ">

    <div class = "ih-item circle effect17"> <a href = "http://www.tournamenttroop.org">
      <div class = "img"> <img src = "https://s3-us-west-2.amazonaws.com/benjaminpictures/TourneyofRoses.jpg" alt = "Tournament of Roses"></div>
      <div class = "info">
        <h3>The 125th Tournament of Roses Scout Troop </h3>
      </div></a></div>

</div>

  <div class="col-sm-3 col-sm-offset-3">
 
    <!-- colored -->
    <div class="ih-item circle colored effect17"><a href="http://innovationquest.org/calpoly">
        <div class="img"><img src="http://innovationquest.org/images/logo.gif" alt="Innovation"></div>
        <div class="info">
          <h3>Innovation Quest Finalist</h3>
        </div></a></div>
    <!-- end colored -->
 
  </div>

    <div class="col-sm-6 ">


    <div class="ih-item circle colored effect17"><a href="http://spirit.prudential.com/view/page/soc/14830">
        <div class="img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ82Xy6SnvpykI1giib4v5CwIzkxgyD1F6b-HK--UPnV1EwP1dJeA" alt="Prudential"></div>
        <div class="info">
          <h3>Prudential Spirit of the Community Award</h3>
        </div></a></div>
    <!-- end colored -->
  </div>


    <div class="col-sm-3 col-sm-offset-3">


    <div class="ih-item circle colored effect17"><a href="http://www.presidentialserviceawards.gov">
        <div class="img"><img src="http://riverbendprep.org/files/2015/05/prez_volunteer_awardlogo_april_09_flat_custom.jpg" alt="President"></div>
        <div class="info">
          <h3>President's Volunteer Service Award</h3>
        </div></a></div>
    <!-- end colored -->
 
  </div>


    <div class="col-sm-6 ">


    <div class="ih-item circle colored effect17"><a>
        <div class="img"><img src="https://s3-us-west-2.amazonaws.com/benjaminpictures/Dreier.jpg" alt="David"></div>
        <div class="info">
          <h3>Congressman David Drier 26th Youth Volunteer Award Recipient</h3>
        </div></a></div>
    <!-- end colored -->
 
  </div>


    <div class="col-sm-3 col-sm-offset-3">


    <div class="ih-item circle colored effect17"><a href = "http://www.pasadenaplayhouse.org/box-office/mainstage/juniors-got-talent!.html">
        <div class="img"><img src="https://s3-us-west-2.amazonaws.com/benjaminpictures/JGT.jpg" alt="JGT"></div>
        <div class="info">
          <h3>Juniors Got Talent</h3>
        </div></a></div>
    <!-- end colored -->
 
  </div>
</div>

  <h6 class = "whiteText">
  This website was created using Django, Bootstrap, and hosted on AWS elastic beanstalk.
  </h6>
