
<div class ="col-sm-12">
	<div class="clip-text clip-text_fourteen" id = "Projects">PROJECTS</div>
</div>
</div>



<div class = "col-sm-12">
<div class = "featurette-project ">
	<h1 class = "bigletters"> WhichWay (Innovation Quest Finalist) 	<img src = "https://s3-us-west-2.amazonaws.com/benjaminpictures/Whichway+logo.png" class = "projPicture">  </h1> 
	<p1> 
		WhichWay is the first application that uses pace and compass calibration to track user position without the use of GPS or Data Service - or any external connection at all for that matter. The application uses the accelerometer to detect user movement and the compass for direction. The user inputs initial calibration settings, and then the application tracks their movement from thereon.  WhichWay also uses downloadable maps and floorplans as templates on which it will track the user’s path and serve as a map. <br>
		<video  controls preload="auto" width = "480" height = "312" class="col-sm-10 col-sm-offset-1 video-playing">
  <source src="https://s3-us-west-2.amazonaws.com/benjaminpictures/WhichWay+Demonstration-3.mp4" type="video/mp4">
	</video>
</p1>
</div>
</div>


<div class = "col-sm-12">
<div class = "featurette-project ">

	<h1 class = "bigletters"> UROV (Underwater Remotely Operated Vehicle) 	</h1>
	<img src = "https://s3-us-west-2.amazonaws.com/benjaminpictures/UROV+team.jpg" class = "featurette-orange" height = "40%" width = "40%" align = "right" >
	<br>
	<p1 align = "left">
	As part of the UROV team, I worked on the Electrical Team. I spent countless (but memorable) hours testing the thrusters, soldering male-female connectors for the waterproof housing, wiring the motors to the motor shield through the arduino mega pins, stringing epoxy foam balls for the tether, and working on camera functionality. Overall, robotics has given me the most experience in the field of Electrical Engineering out of all my projects. For more information on our UROV as a whole:
	<br>
	<br>
	<a href = "http://robotics.calpoly.edu/wiki/index.php/UROV" class = "linkText"> UROV page </a>

	</p1>
</div>	
</div>

<div class = "col-sm-12">
<div class = "featurette-project ">

			<h1 class = "bigletters"> Power Supply (IME 156) </h1>
		<br>
		<img src  = "https://s3-us-west-2.amazonaws.com/benjaminpictures/Diptrace.png" class = "featurette-orange" height = "40%" width = "40%" align = "left">
		<p1 align  = "right" class = "largefont">
			Industrial Manufacturing Engineering had us create our very own Power Supplies from scratch! The class began with  learning how to use Diptrace, a CAD software specifically used for PCB design and manufacturing. Through the labs, I was introduced to the manufacturing process of PCB boards from designing the circuitry; to the etch, develop and stripping process. After creating a PCB, I began learning the different techniques of electronic assembly: soldering, crimping, heat shrinking, and troubleshooting. Through the lectures, I learned different manufacturing techniques for PCB's and how IC's were created. 
		</p1>
</div>
</div>

<div class = "col-sm-12">
<div class = "featurette-project ">

		<h1 class = "bigletters"> QuadCopter </h1>
	<img src = "https://www.rcdepothobbies.com/v/vspfiles/photos/QAV250FPV-SLV-6.jpg" class = "featurette-orange" align = "right" width = "50%" height = "50%">
		<br>
		<p1 align = "left" class = "largefont">
			This project was a summer project of 2015. Starting with a QAV 250, I learned about the necessary components of the Quadcopter. This is the first project working with ESC (Electronic Speed Controllers) and radio transmitters/receivers. Working on the Quadcopter including alot of soldering bullet connectors to the ESC and Brushless Motors. The Quadcopter utilized a Power Distribution board to distribute power to all 4 motors equally. This was all controlled through a transmitter wired to a CC3D flight controller which was in charge of balancing the motors so that the Quadcopter can be level. Overall, I was introduced to radio controllers since I had to bind the transmitter and receiver, and how to break down a project into seperate subcomponents. 
		</p1>
</div>
</div>


<div class = "col-sm-12">
<div class = "featurette-project ">

		<h1 class = "bigletters"> Sumo Bot </h1>
		<img  src = "https://s3-us-west-2.amazonaws.com/benjaminpictures/Sumo+Bot.JPG" class = "featurette-orange" align = "left" width = "40%" height = "40%">
		<br>
		<p1 align = "right" >
			Hosted by the Robotics Club of Cal Poly San Luis Obispo, this is my first experience working on a Arduino with a team. As a introduction to robotics, I learned the fundementals of soldering and how to wire and code an Arudino. Starting with very basic examples, I was introduced to the Arduino IDLE and how to do simple blink examples. From there, the lessons moved onto how to read sensor values through the IDLE Serial Monitor. By wiring a light sensor and tweaking the values, my team and I were able to interprept the data and have the robot sense the black boundary line. From there, the team wired the motors and battery, updated the code to include a reverse function when the bot hit a black line, and we finally had a working Sumo Bot. 
		</p1> 

</div>
</div>

<div class = "col-sm-12">
<div class = "featurette-project ">

	<h1 class = "bigletters"> Fabric Pressure Sensor </h1>
	<img src = "http://cdn.instructables.com/F84/Q1UK/FRXW6OTR/F84Q1UKFRXW6OTR.LARGE.jpg" align = "right" width = "40%" height = "40%">
	<br>
	<p1 align = "left" class = "largeFont">
		The Fabric Sensor was one of the first projects I've done with Arudino. Using a <a href = "https://en.wikipedia.org/wiki/Piezoresistive_effect" class = "linkText"> Piezoresistive </a> known as Velostat, I was able to create this sensor. By sewing the Velostat with conductive thread, I was then able to take in data through the arduino and some alligator clips using the Arduino IDLE Serial Monitor. The values are then able to be interprepted into quadrants and a scale of how much pressure is applied (from 0- 255). For the full tutorial, click the link below:
		<br>
		<br>
		<a href = "http://www.instructables.com/id/Pressure-Sensor-Matrix/" class = "linkText"> Fabric Sensor Guide </a>

	</p1>
</div>
</div>











