
<div class = "featurette">
	<div class = "col-sm-12 text-center">
		<img src="https://s3-us-west-2.amazonaws.com/benjaminpictures/face.jpg" alt="Benjamin Yee" class= "benpicture">
		<h1>About Me</h1>
	</div>


		<div class = "gray-back">
			<div class = "narrow">
				<div class = "col-sm-12 text-center">

					<p1> Hello! My name is Benjamin Yee and I am a Cal Poly Electrical Engineer. I am a firm believer of the Cal Poly motto of "learn by doing". I believe I embody the motto through the projects and experience I gain in both school and side projects. Here are some of my past projects:</p1>


				</div>
			</div>
		</div>
</div>