
<div class = "col-sm-12 text-center">
<div class = "featurette-orange">
    <img src="https://s3-us-west-2.amazonaws.com/benjaminpictures/face6.jpg" class = "benpicture" />
		<h1>About Me</h1> 
		<p> Hello! My name is Benjamin Yee and I am a Cal Poly Electrical Engineer. Welcome to my personal Webpage! <br> I am a firm believer of the Cal Poly motto of "learn by doing". I believe I embody the motto through the projects and experience I gain in both school and side projects.<br> Here are some of my past projects and accolades I have accomplished through the years!</p>


                <h4 class="abouth4"><a class="aboutmelink noA" id="linkedin" href="https://www.linkedin.com/pub/benjamin-yee/a8/472/3a"><i class="fa fa-linkedin"></i></a></h4>
                <h4 class="abouth4"><a class="aboutmelink noA" id="github" href="https://github.com/crazymach"><i class="fa fa-github"></i></a></h4>
                <h4 class="abouth4"><a class="aboutmelink noA" id="facebook" href="https://www.facebook.com/benjamin.yee.14"><i class="fa fa-facebook"></i></a></h4>
                <h4 class="abouth4"><a class="aboutmelink noA" id="email" href="mailto:benhyee@gmail.com"><i class="fa fa-envelope"></i></a></h4>


</div>
</div>


		

