<div id = "Projects">
  <div class="col-sm-4 col-sm-height col-full-height projectBlock", id = "iosProx">
    <div class = "text-center">
      <h4 class = "regularFont">Proximity iOS App</h4>
      <figcaption>
        <h4 class= "text-center regularFont">1st Place Heroku Winner of the Salesforce $1MM Hackathon 2014</h4>
        <h5>The app helps locate people within crowded areas. </h5>
        <a href="#prox"><h4>click HERE for more info</h4></a>
      </figcaption>
    </div>
  </div>
  <div class="col-sm-4 col-sm-height col-full-height projectBlock", id = "cs235">
    <div class = "text-center">
      <h4 class = "regularFont"> Chess Playing Robot Arm</h4>
      <figcaption>
        <h4 class= "text-center regularFont">Stanford Robotics Project</h4>
        <h5>Built a chess playing robot arm in 3 weeks using rapid prototyping techniques. </h5>
        <a href="#chessRobot"><h4>click HERE for more info</h4></a>
      </figcaption>
    </div>
  </div>
  <div class="col-sm-4 col-sm-height col-full-height projectBlock", id = "bioe374">
    <div class = "text-center">
      <h4 class = "regularFont"> Osteomyelitis Detector</h4>
      <figcaption>
        <h4 class= "text-center regularFont">Stanford Biodesign Project</h4>
        <h5>Designed a system to help physicians visualize infected bone (osteomyelitis) during surgery. </h5>
        <a href="#biodesign"><h4>click HERE for more info</h4></a>
      </figcaption>
    </div>
  </div>

  <div class="col-sm-4 col-sm-height col-full-height projectBlock", id = "me382">
    <div class = "text-center">
      <h4 class = "regularFont">Long Bone Scaffold</h4>
      <figcaption>
        <h4 class= "text-center regularFont">Stanford Medical Device R&D Project</h4>
        <h5>Designed a way to increase bone cell proliferation in scaffolds for long bone voids. </h5>
        <a href="#medDevice"><h4>click HERE for more info</h4></a>
      </figcaption>
    </div>
  </div>
      <div class="col-sm-4 col-sm-height col-full-height projectBlock", id = "iosInsoles2">
      <div class = "text-center">
                <h4 class = "regularFont">Hardware Wearable</h4>
        <figcaption>
          <h4 class= "text-center regularFont">Maker's Faire 2014 Project</h4>
          <h5>Created a pressure sensing insole to stream data through bluetooth to control flappy bird the iOS game.</h5>
          <a href="#flappyBird"><h4>click HERE for more info</h4></a>
        </figcaption>
      </div>
    </div>
    <div class="col-sm-4 col-sm-height col-full-height projectBlock", id = "me294">
      <div class = "text-center">
        <h4 class = "regularFont"> Adjustable Force Prosthetic</h4>
      <figcaption>
        <h4 class= "text-center regularFont">Stanford Medical Device Project</h4>
        <h5>Built an adjustable force split hook prosthetic, designed for ease of adjustment and use. </h5>
        <a href="#prox"><h4>click HERE for more info</h4></a>
      </figcaption>
      </div>
    </div>
    <div class="col-sm-4 col-sm-height col-full-height projectBlock", id = "iosInsoles">
      <div class = "text-center">
        <h4 class = "regularFont">Smart Insoles</h4>
        <figcaption>
          <h4 class= "text-center regularFont">Hackster.io Award at BeMyApp Factory Hack</h4>
          <h5>Created a pressure sensing insole to stream data through bluetooth to control a ninja on an iOS device.</h5>
          <a href="http://www.hackster.io/380/smartinsoles"><h4>click HERE for instuctions to make it (offsite)!</h4></a>
        </figcaption>
      </div>
    </div>

    <div class="col-sm-4 col-sm-height col-full-height projectBlock", id = "projPiano">
      <div class = "text-center">
        <h4 class = "regularFont">Paper Piano</h4>
        <figcaption>
          <h4 class= "text-center regularFont">Maker's Faire 2014 Project</h4>
          <h5>Created a "paper" piano using conductive ink multiplexed to an Arduino + custom visualizations and midi player</h5>
          <a href="http://www.hackster.io/490/paper-instruments"><h4>click HERE for instuctions to make it (offsite)!</h4></a>
        </figcaption>
      </div>
    </div>
    
  <div class="col-sm-4 col-sm-height col-full-height projectBlock", id = "me210">
    <div class = "text-center">
      <h4 class = "regularFont">Sumo Wresting Robot</h4>
      <figcaption>
        <h4 class= "text-center regularFont">Stanford Mechatronics course</h4>
        <h5>Built a self driving robot to knock other robots off a playing field</h5>
        <a href="http://filibuster-buster.weebly.com"><h4>click HERE for more info (offsite)</h4></a></figcaption>
      </div>
    </div>

  </div>