
<div class = "featurette-project text-center">
	<h1 class = "bigletters"> WhichWay (Innovation Quest Finalist) 	<img src = "https://s3-us-west-2.amazonaws.com/benjaminpictures/Whichway+logo.png" class = "projPicture">  </h1> 
	<p1> 
		WhichWay is the first application that uses pace and compass calibration to track user position without the use of GPS or Data Service - or any external connection at all for that matter. The application uses the accelerometer to detect user movement and the compass for direction. The user inputs initial calibration settings, and then the application tracks their movement from thereon.  WhichWay also uses downloadable maps and floorplans as templates on which it will track the user’s path and serve as a map. <br>
		<video  controls  preload="auto" width = "480" height = "312" class="video-playing">
  <source src="https://s3-us-west-2.amazonaws.com/benjaminpictures/WhichWay+Demonstration-3.mp4" type="video/mp4">
	</video>
</p1>


</div>